* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
background-image: url('shufundo.png');
background-size: cover; 
height: 100vh;

}
.top-image {
  max-width: 400px;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .beys {
  height: 200px;
  width: 200px;
  position: absolute;
  background-size: cover;
  transition:10s ease-in-out;
}

.beys:first-child {
  background-image: url('bey1.png');
  left: -80px;
  top: -100px;
}
.beys:last-child {
  background-image: url('bey2.png');
  right: -80px;
  bottom: -90px;
}

.beys:hover {
transform: rotate(36000deg);
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  padding: 75px 35px;
  text-align: center;
}
form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 40px;
  font-weight: 1;
  font-family: 'Paladins', sans-serif;
}

form h6 {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'SF Theramin Gothic', sans-serif;
    cursor: pointer;
    transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

form h6:hover {
    color: #000000;
    }

label {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'SF Theramin Gothic', sans-serif;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 251, 251, 0.07);
  border-radius: 3px;
  padding: 10px;
  margin-top: 8px;
  font-size: 18px;
  font-family: 'SF Theramin Gothic', sans-serif;
  font-weight: 300;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  font-size: 20px;
  font-family: 'SF Theramin Gothic', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

button:hover {
background-color: #000000;
color: #ffffff;
}